.addStoryCon {
    height: 100vh;
    width: 100vw;
    background-color: #000000CF;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addStory {
    height: 30rem;
    width: 40rem;
    padding: 2.5rem 2.5rem 1.8rem 2.5rem;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 30px 0px #FFFFFF40;
    text-align: center;
    position: relative;
}

.addSlideCon {
    display: flex;
    margin-top: 0.7rem;
    padding-bottom: 0.5rem;
    justify-content: flex-start;
}

.slide {
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 5rem;
    cursor: pointer;
    margin: 5px;
    border: 2px solid transparent;
    font-size: 0.9rem;
    position: relative;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    display: flex;
}

.slide.active {
    border-color: rgba(115, 171, 255, 1);
}

.slideDeleteBtn {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
}

.slideDeleteBtn>img {
    width: 1rem;
}

.storyInputs {
    margin: 1rem;
}

.storyInput {
    display: flex;
    justify-content: space-between;
    margin-right: 7rem;
    margin-bottom: 1rem;
}

.addStoryLabel {
    font-weight: 700;
    font-size: 1.1rem;
}

.selectOptions {
    font-weight: 700;
    font-size: 1rem;
    color: black;
}

.storyInput input {
    padding: 0.6rem;
    width: 15rem;
    border: 1px solid black;
}

.addStoryInput::placeholder {
    color: #474141;
    font-weight: 700;
    font-size: 0.95rem;
}

.addStoryDesInput {
    padding: 0.6rem;
    width: 15rem;
    height: 5rem;
    border: 1px solid black;
    resize: none;
}

.addStorySelect {
    width: 15rem;
    border: 1px solid black;
    padding: 0.5rem;
    color: #474141;
    font-weight: 700;
    font-size: 0.95rem;
}

.storyBtnCon {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.closeAddStoryBtn {
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    cursor: pointer;
}

.closeAddStoryBtn>img {
    width: 25px;
}

.btn {
    height: 2.2rem;
    width: 5.8rem;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 700;
    line-height: 0.9rem;
}

.previousSlideBtn {
    background-color: #FF7373;
}

.nextSlideBtn {
    background-color: #73ABFF;
    margin-left: 1rem;
}

.postStoryBtn {
    background-color: #7EFF73;
}

.addStoryMobile {
    height: 26rem;
    width: 18rem;
    padding: 2rem 1rem 1.8rem 1rem;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 30px 0px #FFFFFF40;
    text-align: center;
    position: relative;
}

.addStoryHeadingMobile {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.addStoryHeadingMobile>p {
    color: #000000;
    font-family: DM Sans;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 23.44px;
}

.addStoryMiddleCon {
    display: flex;
}

.addSlideConMobile {
    display: flex;
    margin-top: 0.7rem;
    justify-content: flex-start;
    flex-direction: column;
}

.slideMobile {
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    width: 2.6rem;
    cursor: pointer;
    margin: 3px;
    border: 2px solid transparent;
    font-size: 0.8rem;
    position: relative;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    display: flex;
}

.slideMobile.active {
    border-color: rgba(115, 171, 255, 1);
}

.slideDeleteBtnMobile {
    position: absolute;
    top: -15%;
    right: 0;
}

.slideDeleteBtnMobile>img {
    width: 0.5rem;
}

.storyBtnConMobile {
    display: flex;
    justify-content: center;
}

.closeAddStoryBtnMobile {
    position: absolute;
    right: 0.7rem;
    top: 0.7rem;
    cursor: pointer;
}

.closeAddStoryBtnMobile>img {
    width: 20px;
}

.storyInputMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.storyInputMobile>input {
    padding: 0.2rem;
    width: 11.8rem;
    border: 1px solid black;
}

.addStoryLabelMobile {
    font-weight: 700;
    font-size: 0.95rem;
}

.addStoryDesInputMobile {
    padding: 0.2rem;
    width: 11.8rem;
    height: 3.5rem;
    border: 1px solid black;
    resize: none;
}

.addStoryInputMobile::placeholder {
    color: #474141;
    font-weight: 700;
    font-size: 0.85rem;
}

.addStorySelectMobile {
    width: 11.8rem;
    border: 1px solid black;
    padding: 0.2rem;
    color: #474141;
    font-weight: 700;
    font-size: 0.85rem;
}

.storyInputsMobile {
    margin: 1rem 1rem 0 1rem;
}

.btnMobile {
    height: 2rem;
    width: 5.8rem;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: DM Sans;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 0.9rem;
}
